.p-textarea {
    @apply appearance-none rounded-md
        border border-surface-400
        enabled:hover:border-surface-400
        enabled:focus:border-primary-400
        bg-surface-0
        text-surface-700
        disabled:bg-surface-200 disabled:text-surface-500
        placeholder:text-surface-500
        px-3 py-2
        transition-colors duration-200
        shadow-[0_1px_2px_0_rgba(18,18,23,0.05)]
        outline-none
}

.p-textarea.p-invalid {
    @apply border-red-400 dark:border-red-300
}

.p-textarea.p-variant-filled {
    @apply bg-surface-50 dark:bg-surface-800
}

.p-textarea-fluid {
    @apply w-full
}

.p-textarea-resizable {
    @apply overflow-hidden resize-none
}